/*
Author: Raymond Huang
Last Update:July 2017
*/
/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

input,
label,
select,
button,
textarea {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  min-width: 320px; }

img {
  max-width: 100%; }

a {
  cursor: pointer; }

iframe {
  max-width: 100%; }

@media all {
  .pair_input {
    float: left;
    width: 60%;
    padding: 5px;
    border-radius: 2px;
    margin-bottom: 10px; }

  .pair_list {
    padding: 5px;
    border-radius: 2px;
    width: calc(40% - 10px);
    float: right;
    margin: 0 5px;
    margin-bottom: 10px; }

  .overflow-hidden {
    overflow: hidden; }

  .no-required-widget {
    display: none;
    margin-top: 20px;
    border: double #CCC;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden; }

  .Disclaimer {
    float: right;
    margin-bottom: 10px; }

  .fs-7 {
    font-size: 7px; }

  .fs-12 {
    font-size: 12px; }

  .fs-14 {
    font-size: 14px; }

  .fs-20 {
    font-size: 20px; }

  .fs-24 {
    font-size: 24px; }

  .fs-30 {
    font-size: 30px; }

  .no-border {
    border: none; }

  .border-double {
    border: double; }

  .cols-2 {
    width: calc(50% - 10px);
    float: left;
    margin-left: 5px;
    margin-right: 5px; }

  .float-left {
    float: left; }

  .float-right {
    float: right; }

  .float-none {
    float: none; }

  .ps-rel {
    position: relative; }

  .ps-abs {
    position: absolute; }

  .ps-fixed {
    position: fixed; }

  .ps-static {
    position: static; }

  .right-40 {
    right: 40px; }

  .right-70 {
    right: 70px; }

  .bottom-10 {
    bottom: 10px; }

  .no-display {
    display: none; }

  .block {
    display: block; }

  .inline {
    display: inline; }

  .inline-block {
    display: inline-block; }

  .flex {
    display: flex;
    flex-direction: row; }

  .table-cell {
    display: table-cell; }

  .text-center {
    text-align: center; }

  .text-left {
    text-align: left; }

  .text-right {
    text-align: right; }

  .text-decoration-none {
    text-decoration: none; }

  .text-middle {
    vertical-align: middle; }

  .mall-0 {
    margin: 0px; }

  .pall-0 {
    padding: 0px; }

  .mall-5 {
    margin: 5px; }

  .pall-5 {
    padding: 5px; }

  .mall-10 {
    margin: 10px; }

  .pall-10 {
    padding: 10px; }

  .mall-15 {
    margin: 15px; }

  .pall-15 {
    padding: 15px; }

  .mall-20 {
    margin: 20px; }

  .pall-20 {
    padding: 20px; }

  .mall-25 {
    margin: 25px; }

  .pall-25 {
    padding: 25px; }

  .mall-30 {
    margin: 30px; }

  .pall-30 {
    padding: 30px; }

  .mall-35 {
    margin: 35px; }

  .pall-35 {
    padding: 35px; }

  .mtb-0 {
    margin-top: 0px;
    margin-bottom: 0px; }

  .mlr-0 {
    margin-left: 0px;
    margin-right: 0px; }

  .ptb-0 {
    padding-top: 0px;
    padding-bottom: 0px; }

  .plr-0 {
    padding-left: 0px;
    padding-right: 0px; }

  .mtb-5 {
    margin-top: 5px;
    margin-bottom: 5px; }

  .mlr-5 {
    margin-left: 5px;
    margin-right: 5px; }

  .ptb-5 {
    padding-top: 5px;
    padding-bottom: 5px; }

  .plr-5 {
    padding-left: 5px;
    padding-right: 5px; }

  .mtb-10 {
    margin-top: 10px;
    margin-bottom: 10px; }

  .mlr-10 {
    margin-left: 10px;
    margin-right: 10px; }

  .ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px; }

  .plr-10 {
    padding-left: 10px;
    padding-right: 10px; }

  .mtb-15 {
    margin-top: 15px;
    margin-bottom: 15px; }

  .mlr-15 {
    margin-left: 15px;
    margin-right: 15px; }

  .ptb-15 {
    padding-top: 15px;
    padding-bottom: 15px; }

  .plr-15 {
    padding-left: 15px;
    padding-right: 15px; }

  .mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px; }

  .mlr-20 {
    margin-left: 20px;
    margin-right: 20px; }

  .ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px; }

  .plr-20 {
    padding-left: 20px;
    padding-right: 20px; }

  .mtb-25 {
    margin-top: 25px;
    margin-bottom: 25px; }

  .mlr-25 {
    margin-left: 25px;
    margin-right: 25px; }

  .ptb-25 {
    padding-top: 25px;
    padding-bottom: 25px; }

  .plr-25 {
    padding-left: 25px;
    padding-right: 25px; }

  .mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px; }

  .mlr-30 {
    margin-left: 30px;
    margin-right: 30px; }

  .ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px; }

  .plr-30 {
    padding-left: 30px;
    padding-right: 30px; }

  .mtb-35 {
    margin-top: 35px;
    margin-bottom: 35px; }

  .mlr-35 {
    margin-left: 35px;
    margin-right: 35px; }

  .ptb-35 {
    padding-top: 35px;
    padding-bottom: 35px; }

  .plr-35 {
    padding-left: 35px;
    padding-right: 35px; }

  .mt-n35 {
    margin-top: -35px; }

  .mlr-auto {
    margin-left: auto;
    margin-right: auto; }

  .mt-0 {
    margin-top: 0px; }

  .mb-0 {
    margin-bottom: 0px; }

  .ml-0 {
    margin-left: 0px; }

  .mr-0 {
    margin-right: 0px; }

  .pt-0 {
    padding-top: 0px; }

  .pb-0 {
    padding-bottom: 0px; }

  .pl-0 {
    padding-left: 0px; }

  .pr-0 {
    padding-right: 0px; }

  .mt-5 {
    margin-top: 5px; }

  .mb-5 {
    margin-bottom: 5px; }

  .ml-5 {
    margin-left: 5px; }

  .mr-5 {
    margin-right: 5px; }

  .pt-5 {
    padding-top: 5px; }

  .pb-5 {
    padding-bottom: 5px; }

  .pl-5 {
    padding-left: 5px; }

  .pr-5 {
    padding-right: 5px; }

  .mt-10 {
    margin-top: 10px; }

  .mb-10 {
    margin-bottom: 10px; }

  .ml-10 {
    margin-left: 10px; }

  .mr-10 {
    margin-right: 10px; }

  .pt-10 {
    padding-top: 10px; }

  .pb-10 {
    padding-bottom: 10px; }

  .pl-10 {
    padding-left: 10px; }

  .pr-10 {
    padding-right: 10px; }

  .mt-15 {
    margin-top: 15px; }

  .mb-15 {
    margin-bottom: 15px; }

  .ml-15 {
    margin-left: 15px; }

  .mr-15 {
    margin-right: 15px; }

  .pt-15 {
    padding-top: 15px; }

  .pb-15 {
    padding-bottom: 15px; }

  .pl-15 {
    padding-left: 15px; }

  .pr-15 {
    padding-right: 15px; }

  .mt-20 {
    margin-top: 20px; }

  .mb-20 {
    margin-bottom: 20px; }

  .ml-20 {
    margin-left: 20px; }

  .mr-20 {
    margin-right: 20px; }

  .pt-20 {
    padding-top: 20px; }

  .pb-20 {
    padding-bottom: 20px; }

  .pl-20 {
    padding-left: 20px; }

  .pr-20 {
    padding-right: 20px; }

  .mt-25 {
    margin-top: 25px; }

  .mb-25 {
    margin-bottom: 25px; }

  .ml-25 {
    margin-left: 25px; }

  .mr-25 {
    margin-right: 25px; }

  .pt-25 {
    padding-top: 25px; }

  .pb-25 {
    padding-bottom: 25px; }

  .pl-25 {
    padding-left: 25px; }

  .pr-25 {
    padding-right: 25px; }

  .mt-30 {
    margin-top: 30px; }

  .mb-30 {
    margin-bottom: 30px; }

  .ml-30 {
    margin-left: 30px; }

  .mr-30 {
    margin-right: 30px; }

  .pt-30 {
    padding-top: 30px; }

  .pb-30 {
    padding-bottom: 30px; }

  .pl-30 {
    padding-left: 30px; }

  .pr-30 {
    padding-right: 30px; }

  .mt-35 {
    margin-top: 35px; }

  .mb-35 {
    margin-bottom: 35px; }

  .ml-35 {
    margin-left: 35px; }

  .mr-35 {
    margin-right: 35px; }

  .pt-35 {
    padding-top: 35px; }

  .pb-35 {
    padding-bottom: 35px; }

  .pl-35 {
    padding-left: 35px; }

  .pr-35 {
    padding-right: 35px; }

  .pl-45 {
    padding-left: 45px; }

  .required-widget {
    display: block;
    margin-top: 20px;
    border: double #CCC;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden; } }
@media all and (min-width: 479px) {
  .fs-16-sm {
    font-size: 16px; }

  .fs-18-sm {
    font-size: 18px; }

  .fs-24-sm {
    font-size: 24px; }

  .fs-30-sm {
    font-size: 30px; }

  .cols-2-sm {
    width: calc(50% - 10px);
    float: left;
    margin-left: 5px;
    margin-right: 5px; }

  .float-left-sm {
    float: left; }

  .float-right-sm {
    float: right; }

  .float-none-sm {
    float: none; }

  .ps-rel-sm {
    position: relative; }

  .ps-abs-sm {
    position: absolute; }

  .ps-static-sm {
    position: static; }

  .ps-fixed-sm {
    position: fixed; }

  .no-display-sm {
    display: none; }

  .block-sm {
    display: block; }

  .inline-sm {
    display: inline; }

  .inline-block-sm {
    display: inline-block; }

  .flex-sm {
    display: flex;
    flex-direction: row; }

  .text-center-sm {
    text-align: center; }

  .text-left-sm {
    text-align: left; }

  .text-right-sm {
    text-align: right; }

  .text-decoration-none-sm {
    text-decoration: none; }

  .mall-0-sm {
    margin: 0px; }

  .pall-0-sm {
    padding: 0px; }

  .mall-5-sm {
    margin: 5px; }

  .pall-5-sm {
    padding: 5px; }

  .mall-10-sm {
    margin: 10px; }

  .pall-10-sm {
    padding: 10px; }

  .mall-15-sm {
    margin: 15px; }

  .pall-15-sm {
    padding: 15px; }

  .mall-20-sm {
    margin: 20px; }

  .pall-20-sm {
    padding: 20px; }

  .mall-25-sm {
    margin: 25px; }

  .pall-25-sm {
    padding: 25px; }

  .mall-30-sm {
    margin: 30px; }

  .pall-30-sm {
    padding: 30px; }

  .mall-35-sm {
    margin: 35px; }

  .pall-35-sm {
    padding: 35px; }

  .mtb-0-sm {
    margin-top: 0px;
    margin-bottom: 0px; }

  .mlr-0-sm {
    margin-left: 0px;
    margin-right: 0px; }

  .ptb-0-sm {
    padding-top: 0px;
    padding-bottom: 0px; }

  .plr-0-sm {
    padding-left: 0px;
    padding-right: 0px; }

  .mtb-5-sm {
    margin-top: 5px;
    margin-bottom: 5px; }

  .mlr-5-sm {
    margin-left: 5px;
    margin-right: 5px; }

  .ptb-5-sm {
    padding-top: 5px;
    padding-bottom: 5px; }

  .plr-5-sm {
    padding-left: 5px;
    padding-right: 5px; }

  .mtb-10-sm {
    margin-top: 10px;
    margin-bottom: 10px; }

  .mlr-10-sm {
    margin-left: 10px;
    margin-right: 10px; }

  .ptb-10-sm {
    padding-top: 10px;
    padding-bottom: 10px; }

  .plr-10-sm {
    padding-left: 10px;
    padding-right: 10px; }

  .mtb-15-sm {
    margin-top: 15px;
    margin-bottom: 15px; }

  .mlr-15-sm {
    margin-left: 15px;
    margin-right: 15px; }

  .ptb-15-sm {
    padding-top: 15px;
    padding-bottom: 15px; }

  .plr-15-sm {
    padding-left: 15px;
    padding-right: 15px; }

  .mtb-20-sm {
    margin-top: 20px;
    margin-bottom: 20px; }

  .mlr-20-sm {
    margin-left: 20px;
    margin-right: 20px; }

  .ptb-20-sm {
    padding-top: 20px;
    padding-bottom: 20px; }

  .plr-20-sm {
    padding-left: 20px;
    padding-right: 20px; }

  .mtb-25-sm {
    margin-top: 25px;
    margin-bottom: 25px; }

  .mlr-25-sm {
    margin-left: 25px;
    margin-right: 25px; }

  .ptb-25-sm {
    padding-top: 25px;
    padding-bottom: 25px; }

  .plr-25-sm {
    padding-left: 25px;
    padding-right: 25px; }

  .mtb-30-sm {
    margin-top: 30px;
    margin-bottom: 30px; }

  .mlr-30-sm {
    margin-left: 30px;
    margin-right: 30px; }

  .ptb-30-sm {
    padding-top: 30px;
    padding-bottom: 30px; }

  .plr-30-sm {
    padding-left: 30px;
    padding-right: 30px; }

  .mtb-35-sm {
    margin-top: 35px;
    margin-bottom: 35px; }

  .mlr-35-sm {
    margin-left: 35px;
    margin-right: 35px; }

  .ptb-35-sm {
    padding-top: 35px;
    padding-bottom: 35px; }

  .plr-35-sm {
    padding-left: 35px;
    padding-right: 35px; }

  .mlr-auto-sm {
    margin-left: auto;
    margin-right: auto; }

  .mt-0-sm {
    margin-top: 0px; }

  .mb-0-sm {
    margin-bottom: 0px; }

  .ml-0-sm {
    margin-left: 0px; }

  .mr-0-sm {
    margin-right: 0px; }

  .pt-0-sm {
    padding-top: 0px; }

  .pb-0-sm {
    padding-bottom: 0px; }

  .pl-0-sm {
    padding-left: 0px; }

  .pr-0-sm {
    padding-right: 0px; }

  .mt-5-sm {
    margin-top: 5px; }

  .mb-5-sm {
    margin-bottom: 5px; }

  .ml-5-sm {
    margin-left: 5px; }

  .mr-5-sm {
    margin-right: 5px; }

  .pt-5-sm {
    padding-top: 5px; }

  .pb-5-sm {
    padding-bottom: 5px; }

  .pl-5-sm {
    padding-left: 5px; }

  .pr-5-sm {
    padding-right: 5px; }

  .mt-10-sm {
    margin-top: 10px; }

  .mb-10-sm {
    margin-bottom: 10px; }

  .ml-10-sm {
    margin-left: 10px; }

  .mr-10-sm {
    margin-right: 10px; }

  .pt-10-sm {
    padding-top: 10px; }

  .pb-10-sm {
    padding-bottom: 10px; }

  .pl-10-sm {
    padding-left: 10px; }

  .pr-10-sm {
    padding-right: 10px; }

  .mt-15-sm {
    margin-top: 15px; }

  .mb-15-sm {
    margin-bottom: 15px; }

  .ml-15-sm {
    margin-left: 15px; }

  .mr-15-sm {
    margin-right: 15px; }

  .pt-15-sm {
    padding-top: 15px; }

  .pb-15-sm {
    padding-bottom: 15px; }

  .pl-15-sm {
    padding-left: 15px; }

  .pr-15-sm {
    padding-right: 15px; }

  .mt-20-sm {
    margin-top: 20px; }

  .mb-20-sm {
    margin-bottom: 20px; }

  .ml-20-sm {
    margin-left: 20px; }

  .mr-20-sm {
    margin-right: 20px; }

  .pt-20-sm {
    padding-top: 20px; }

  .pb-20-sm {
    padding-bottom: 20px; }

  .pl-20-sm {
    padding-left: 20px; }

  .pr-20-sm {
    padding-right: 20px; }

  .mt-25-sm {
    margin-top: 25px; }

  .mb-25-sm {
    margin-bottom: 25px; }

  .ml-25-sm {
    margin-left: 25px; }

  .mr-25-sm {
    margin-right: 25px; }

  .pt-25-sm {
    padding-top: 25px; }

  .pb-25-sm {
    padding-bottom: 25px; }

  .pl-25-sm {
    padding-left: 25px; }

  .pr-25-sm {
    padding-right: 25px; }

  .mt-30-sm {
    margin-top: 30px; }

  .mb-30-sm {
    margin-bottom: 30px; }

  .ml-30-sm {
    margin-left: 30px; }

  .mr-30-sm {
    margin-right: 30px; }

  .pt-30-sm {
    padding-top: 30px; }

  .pb-30-sm {
    padding-bottom: 30px; }

  .pl-30-sm {
    padding-left: 30px; }

  .pr-30-sm {
    padding-right: 30px; }

  .mt-35-sm {
    margin-top: 35px; }

  .mb-35-sm {
    margin-bottom: 35px; }

  .ml-35-sm {
    margin-left: 35px; }

  .mr-35-sm {
    margin-right: 35px; }

  .pt-35-sm {
    padding-top: 35px; }

  .pb-35-sm {
    padding-bottom: 35px; }

  .pl-35-sm {
    padding-left: 35px; }

  .pr-35-sm {
    padding-right: 35px; } }
@media all and (min-width: 767px) {
  .wrap-box-md {
    width: 100%;
    max-width: 991px; }

  .fs-14-md {
    font-size: 14px; }

  .fs-16-md {
    font-size: 16px; }

  .fs-18-md {
    font-size: 18px; }

  .fs-24-md {
    font-size: 24px; }

  .fs-30-md {
    font-size: 30px; }

  .fs-34-md {
    font-size: 34px; }

  .fs-60-md {
    font-size: 60px; }

  .no-border-md {
    border: none; }

  .cols-3-md {
    width: calc(33.33333% - 10px);
    float: left;
    margin-left: 5px;
    margin-right: 5px; }

  .float-left-md {
    float: left; }

  .float-right-md {
    float: right; }

  .float-none-md {
    float: none; }

  .ps-rel-md {
    position: relative; }

  .ps-abs-md {
    position: absolute; }

  .ps-static-md {
    position: static; }

  .ps-fixed-md {
    position: fixed; }

  .inline-md {
    display: inline; }

  .inline-block-md {
    display: inline-block; }

  .block-md {
    display: block; }

  .no-display-md {
    display: none; }

  .flex-md {
    display: flex;
    flex-direction: row; }

  .text-center-md {
    text-align: center; }

  .text-left-md {
    text-align: left; }

  .text-right-md {
    text-align: right; }

  .text-decoration-none-md {
    text-decoration: none; }

  .mall-0-md {
    margin: 0px; }

  .pall-0-md {
    padding: 0px; }

  .mall-5-md {
    margin: 5px; }

  .pall-5-md {
    padding: 5px; }

  .mall-10-md {
    margin: 10px; }

  .pall-10-md {
    padding: 10px; }

  .mall-15-md {
    margin: 15px; }

  .pall-15-md {
    padding: 15px; }

  .mall-20-md {
    margin: 20px; }

  .pall-20-md {
    padding: 20px; }

  .mall-25-md {
    margin: 25px; }

  .pall-25-md {
    padding: 25px; }

  .mall-30-md {
    margin: 30px; }

  .pall-30-md {
    padding: 30px; }

  .mall-35-md {
    margin: 35px; }

  .pall-35-md {
    padding: 35px; }

  .mtb-0-md {
    margin-top: 0px;
    margin-bottom: 0px; }

  .mlr-0-md {
    margin-left: 0px;
    margin-right: 0px; }

  .ptb-0-md {
    padding-top: 0px;
    padding-bottom: 0px; }

  .plr-0-md {
    padding-left: 0px;
    padding-right: 0px; }

  .mtb-5-md {
    margin-top: 5px;
    margin-bottom: 5px; }

  .mlr-5-md {
    margin-left: 5px;
    margin-right: 5px; }

  .ptb-5-md {
    padding-top: 5px;
    padding-bottom: 5px; }

  .plr-5-md {
    padding-left: 5px;
    padding-right: 5px; }

  .mtb-10-md {
    margin-top: 10px;
    margin-bottom: 10px; }

  .mlr-10-md {
    margin-left: 10px;
    margin-right: 10px; }

  .ptb-10-md {
    padding-top: 10px;
    padding-bottom: 10px; }

  .plr-10-md {
    padding-left: 10px;
    padding-right: 10px; }

  .mtb-15-md {
    margin-top: 15px;
    margin-bottom: 15px; }

  .mlr-15-md {
    margin-left: 15px;
    margin-right: 15px; }

  .ptb-15-md {
    padding-top: 15px;
    padding-bottom: 15px; }

  .plr-15-md {
    padding-left: 15px;
    padding-right: 15px; }

  .mtb-20-md {
    margin-top: 20px;
    margin-bottom: 20px; }

  .mlr-20-md {
    margin-left: 20px;
    margin-right: 20px; }

  .ptb-20-md {
    padding-top: 20px;
    padding-bottom: 20px; }

  .plr-20-md {
    padding-left: 20px;
    padding-right: 20px; }

  .mtb-25-md {
    margin-top: 25px;
    margin-bottom: 25px; }

  .mlr-25-md {
    margin-left: 25px;
    margin-right: 25px; }

  .ptb-25-md {
    padding-top: 25px;
    padding-bottom: 25px; }

  .plr-25-md {
    padding-left: 25px;
    padding-right: 25px; }

  .mtb-30-md {
    margin-top: 30px;
    margin-bottom: 30px; }

  .mlr-30-md {
    margin-left: 30px;
    margin-right: 30px; }

  .ptb-30-md {
    padding-top: 30px;
    padding-bottom: 30px; }

  .plr-30-md {
    padding-left: 30px;
    padding-right: 30px; }

  .mtb-35-md {
    margin-top: 35px;
    margin-bottom: 35px; }

  .mlr-35-md {
    margin-left: 35px;
    margin-right: 35px; }

  .ptb-35-md {
    padding-top: 35px;
    padding-bottom: 35px; }

  .plr-35-md {
    padding-left: 35px;
    padding-right: 35px; }

  .mlr-auto-md {
    margin-left: auto;
    margin-right: auto; }

  .mt-0-md {
    margin-top: 0px; }

  .mb-0-md {
    margin-bottom: 0px; }

  .ml-0-md {
    margin-left: 0px; }

  .mr-0-md {
    margin-right: 0px; }

  .pt-0-md {
    padding-top: 0px; }

  .pb-0-md {
    padding-bottom: 0px; }

  .pl-0-md {
    padding-left: 0px; }

  .pr-0-md {
    padding-right: 0px; }

  .mt-5-md {
    margin-top: 5px; }

  .mb-5-md {
    margin-bottom: 5px; }

  .ml-5-md {
    margin-left: 5px; }

  .mr-5-md {
    margin-right: 5px; }

  .pt-5-md {
    padding-top: 5px; }

  .pb-5-md {
    padding-bottom: 5px; }

  .pl-5-md {
    padding-left: 5px; }

  .pr-5-md {
    padding-right: 5px; }

  .mt-10-md {
    margin-top: 10px; }

  .mb-10-md {
    margin-bottom: 10px; }

  .ml-10-md {
    margin-left: 10px; }

  .mr-10-md {
    margin-right: 10px; }

  .pt-10-md {
    padding-top: 10px; }

  .pb-10-md {
    padding-bottom: 10px; }

  .pl-10-md {
    padding-left: 10px; }

  .pr-10-md {
    padding-right: 10px; }

  .mt-15-md {
    margin-top: 15px; }

  .mb-15-md {
    margin-bottom: 15px; }

  .ml-15-md {
    margin-left: 15px; }

  .mr-15-md {
    margin-right: 15px; }

  .pt-15-md {
    padding-top: 15px; }

  .pb-15-md {
    padding-bottom: 15px; }

  .pl-15-md {
    padding-left: 15px; }

  .pr-15-md {
    padding-right: 15px; }

  .mt-20-md {
    margin-top: 20px; }

  .mb-20-md {
    margin-bottom: 20px; }

  .ml-20-md {
    margin-left: 20px; }

  .mr-20-md {
    margin-right: 20px; }

  .pt-20-md {
    padding-top: 20px; }

  .pb-20-md {
    padding-bottom: 20px; }

  .pl-20-md {
    padding-left: 20px; }

  .pr-20-md {
    padding-right: 20px; }

  .mt-25-md {
    margin-top: 25px; }

  .mb-25-md {
    margin-bottom: 25px; }

  .ml-25-md {
    margin-left: 25px; }

  .mr-25-md {
    margin-right: 25px; }

  .pt-25-md {
    padding-top: 25px; }

  .pb-25-md {
    padding-bottom: 25px; }

  .pl-25-md {
    padding-left: 25px; }

  .pr-25-md {
    padding-right: 25px; }

  .mt-30-md {
    margin-top: 30px; }

  .mb-30-md {
    margin-bottom: 30px; }

  .ml-30-md {
    margin-left: 30px; }

  .mr-30-md {
    margin-right: 30px; }

  .pt-30-md {
    padding-top: 30px; }

  .pb-30-md {
    padding-bottom: 30px; }

  .pl-30-md {
    padding-left: 30px; }

  .pr-30-md {
    padding-right: 30px; }

  .mt-35-md {
    margin-top: 35px; }

  .mb-35-md {
    margin-bottom: 35px; }

  .ml-35-md {
    margin-left: 35px; }

  .mr-35-md {
    margin-right: 35px; }

  .pt-35-md {
    padding-top: 35px; }

  .pb-35-md {
    padding-bottom: 35px; }

  .pl-35-md {
    padding-left: 35px; }

  .pr-35-md {
    padding-right: 35px; }

  .pr-50-md {
    padding-right: 50px; } }
@media all and (min-width: 991px) {
  .float-left-lg {
    float: left; }

  .float-right-lg {
    float: right; }

  .float-none-lg {
    float: none; }

  .ps-rel-lg {
    position: relative; }

  .ps-abs-lg {
    position: absolute; }

  .ps-static-lg {
    position: static; }

  .ps-fixed-lg {
    position: fixed; }

  .no-display-lg {
    display: none; }

  .block-lg {
    display: block; }

  .inline-lg {
    display: inline; }

  .inline-block-lg {
    display: inline-block; }

  .flex-lg {
    display: flex;
    flex-direction: row; }

  .text-center-lg {
    text-align: center; }

  .text-left-lg {
    text-align: left; }

  .text-right-lg {
    text-align: right; }

  .text-decoration-none-lg {
    text-decoration: none; } }

/*# sourceMappingURL=style.css.map */
